$primary-color: #6729f3;
$secondary-color: #fbfbfb;
$tertiary-color: #777777;

$text-primary: #6729f3;
$text-secondary: #000000;
$text-tertiary: #777777;

$font-size-primary: 2.5rem;
$font-size-secondary: 2rem;
$font-size-tertiary: 1rem;
$font-size-quaternary: 0.75rem;
// }

.body {
  background-color: #fbfbfb;
  color: black;
  min-height: 100vh;
  // height: 100vh;
  text-align: center;

  .navbar {
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 3rem;
  }

  .headerContainer {
    margin: 6rem 0 4rem;

    .headerText {
      font-size: $font-size-primary;
      font-weight: 700;

      span {
        color: $text-primary;
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    .imageDemoContainer {
      border-radius: 1.5rem;
      width: 40%;
      height: 400px;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;

      img {
        border-radius: 1.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
          rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
          rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
          rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }
    }

    .imageUploadContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 1.5rem;
      background-color: white;
      width: 40%;
      height: 400px;
      padding: 1rem 0;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;

      p {
        color: $text-tertiary;
        text-align: center;
        font-size: $font-size-quaternary;
        margin-top: 0.5rem;
      }

      .uploadImageDragAndDropContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .uploadImageTextLabel {
          border: 1px dashed rgba(63, 59, 87, 0.5);
          border-radius: 1rem;
          display: grid;
          justify-content: center;
          width: 90%;
          padding: 10px;
          cursor: pointer;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

          ul:first-child {
            font-weight: 400;
          }
        }
      }

      .uploadImageButtonLabel {
        width: 100%;

        .uploadButton {
          background: $primary-color;
          margin: auto;
          cursor: pointer;
          width: 100%;
          border-radius: 1rem;
          height: 3.5rem;
          border: none;
          color: #fff;
          font-size: 20px;
          letter-spacing: 0.5px;
          font-weight: 500;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          width: 90%;
          padding: 10px;
        }

        .uploadButton:hover {
          background: #896eca;
        }
      }

      .sampleImagesContainer {
        width: 90%;
        padding: 10px;

        p {
          font-size: $font-size-tertiary;
          margin-bottom: 1rem;
          text-align: left;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 1rem;

          li {
            img {
              height: 3rem;
              width: 3rem;
              border-radius: 0.5rem;
              cursor: pointer;
              box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
                rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
                rgba(0, 0, 0, 0.07) 0px 8px 16px,
                rgba(0, 0, 0, 0.07) 0px 16px 32px,
                rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }
          }
        }
      }
    }
  }

  .descriptionContainer {
    margin-top: 3.5rem;

    strong {
      color: $text-secondary;
      font-weight: 500;
    }

    p {
      color: $text-tertiary;
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: 680px) {
    .imageContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imageDemoContainer,
      .imageUploadContainer {
        width: 90%;
      }
    }

    .descriptionContainer {
      margin-bottom: 3.5rem;
    }
  }
}
