$primary-color: #6729f3;
$secondary-color: #fbfbfb;
$tertiary-color: #777777;

$text-primary: #cdabec;
$text-secondary: #000000;
$text-tertiary: #777777;

$font-size-primary: 2.5rem;
$font-size-secondary: 2rem;
$font-size-tertiary: 1rem;
$font-size-quaternary: 0.75rem;

.body {
  background-color: #fbfbfb;
  color: black;
  text-align: center;
  text-transform: lowercase;

  .navbar {
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 3rem;
  }

  .headerContainer {
    margin: 7.5rem 0 4rem;

    .headerText {
      font-size: $font-size-primary;
      font-weight: 700;
      span {
        border-radius: 1em 0 1em 0;
        background-image: linear-gradient(
          -100deg,
          rgba(129, 10, 165, 0.1),
          rgba(129, 0, 165, 0.3) 80%,
          rgba(129, 0, 165, 0.5)
        );
      }
    }
  }

  .middleContainer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    height: 400px;

    .backArrow {
      cursor: pointer;
    }
  }

  .descriptionContainer {
    margin-top: 3.5rem;

    strong {
      color: $text-secondary;
      font-weight: 500;
    }

    p {
      color: $text-tertiary;
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: 680px) {
    .imageContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imageDemoContainer,
      .imageUploadContainer {
        width: 90%;
      }
    }

    .middleContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 800px;
    }

    .descriptionContainer {
      margin-bottom: 3.5rem;
    }
  }
}
